if loadfont unicode ; then
  set gfxmode=800x600
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod gfxterm
  insmod png
  terminal_output gfxterm
fi

set timeout=6

set theme=/boot/grub/themes/dappnode/theme.txt

menuentry "Install Dappnode (over Ubuntu Server)" {
  set background_color=black
  set gfxpayload=keep # Maintain the graphical resolution through the booting
  linux   /casper/vmlinuz autoinstall vga=788 FRONTEND_BACKGROUND=dark --- # Added autoinstall to make it unattended
  initrd  /casper/initrd
}