menu hshift 7
menu width 61

menu title DappNode installer boot menu
include stdmenu.cfg
;include gtk.cfg
include txt.cfg

label help
	menu label ^Help
	text help
   Display help screens; type 'menu' at boot prompt to return to this menu
	endtext
	config prompt.cfg
;include spkgtk.cfg
;include spk.cfg
